         
name: Deploy to Cloud

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS CLI for VC cloud
      run: |
        aws configure set aws_access_key_id ${{ secrets.SERVICE_ACCOUNT_KEY_ID }}
        aws configure set aws_secret_access_key ${{ secrets.SERVICE_ACCOUNT_SECRET }}
        aws configure set default.region ru-central-1
        aws configure set output json

    - name: Sync files to Yandex Storage (with exclude)
      run: |
        aws --endpoint-url=https://s3.cloud.ru/ s3 sync ./ s3://word-game-bucket/ \
            --exclude ".git/*" \
            --exclude ".server/*" \
            --exclude ".github/*" \
            --exclude "README.md" \
            --exclude "LICENSE" \
            --exclude ".gitignore" \
            --exclude "node_modules/*" \
            --exclude "*.log" \
            --exclude "*.tmp" \
            --exclude ".DS_Store" \
            --exclude "Thumbs.db"
